    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.root {
        background-color: rgb(106, 168, 145);
                -fx-background-color: rgb(106, 168, 145);

        font-size: 14;
                -fx-font-size: 14;
}

.titled-pane .title {
        background-color: "#6aa891";
                -fx-background-color: "#6aa891";
        font-size: 14;
                -fx-font-size: 14;
}

.titled-pane .title .arrow-button .arrow {
        background-color: "#78bfa4";
                -fx-background-color: "#78bfa4";

        background-color: rgb(106, 168, 145);
}

.button {
        -fx-font-size: 14px;
                font-size: 14px;
        -fx-font-family: 'Roboto Condensed', sans-serif;
                font-family: 'Roboto Condensed', sans-serif;
        -fx-font-weight: 700;
                font-weight: 700;
        -fx-background-color: rgb(120, 191, 164);
                background-color: "#78bfa4";
}

.custom-button {
font-size: 48px;
    -fx-font-size: 48px;

font-family: 'Roboto Condensed', sans-serif;
    -fx-font-family: 'Roboto Condensed', sans-serif;

font-weight: 700;
    -fx-font-weight: 700;

background-color: "#78bfa4";
    -fx-background-color: "#78bfa4";

    -fx-background-radius: 25px;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0.01, 0, 1)
}


.button:hover {
        background-color: rgb(106, 168, 145);
                -fx-background-color: rgb(106, 168, 145);

                -fx-text-fill: white;

        cursor: hand;
                -fx-cursor: hand;

}

.custom-gridpane {
        background-color: rgb(106, 168, 145);
                -fx-background-color: rgb(106, 168, 145);
        
                -fx-focus-color: transparent;
        
        font-family: 'Roboto Condensed', sans-serif;
                -fx-font-family: 'Roboto Condensed', sans-serif;
        
        font-weight: 700;
                -fx-font-weight: 700;

        border-width: 0;
                -fx-border-width: 0;

                -fx-box-border: rgb(106, 168, 145);
}

.table-view {
        -fx-text-fill: "#6aa891";
        background-color: "#6aa891";
                -fx-background-color: "#6aa891";

        font-size: xx-large;
                -fx-font-size: xx-large;

}

.column-header .label {
        -fx-text-fill: black;
}

.column-header {
        background-color: rgb(96,153,132);
                -fx-background-color: rgb(96,153,132);

        font-size: 14px;
                -fx-font-size: 14px;
        
        font-family: 'Roboto Condensed', sans-serif;
                -fx-font-family: 'Roboto Condensed', sans-serif;

        font-weight: 700;
                -fx-font-weight: 700;

        padding: 3px;
                -fx-padding: 3px;
}

.table-view .column-header {
        border-width: 1px;
                -fx-border-width: 1px;

        border-color: rgb(106, 168, 145);
                -fx-border-color: rgb(106, 168, 145);
}



.table-cell {
        background-color: rgb(120,191,164);
                -fx-background-color: rgb(120,191,164);

        border-color: rgb(106, 168, 145);
                -fx-border-color: rgb(106, 168, 145);
        
        border-width: 1px;
                -fx-border-width: 1px;

        cursor: hand;
                -fx-cursor: hand;

        font-size: 14px;
                -fx-font-size: 14px;

        font-family: 'Roboto Condensed', sans-serif;
                -fx-font-family: 'Roboto Condensed', sans-serif;

        font-weight: 700;
                -fx-font-weight: 700;

        padding: 2px;
                -fx-padding: 2px;
}

.menu-bar {
font-size: 10pt;
    -fx-font-size: 10pt !important;

font-family: "Segoe UI Semibold";
    -fx-font-family: "Segoe UI Semibold" !important;

}

.menu {
    font-size: 10pt;
    -fx-font-size: 10pt !important;

font-family: "Segoe UI Semibold";
    -fx-font-family: "Segoe UI Semibold" !important;

}

.menu .label {
    font-size: 10pt;
    -fx-font-size: 10pt !important;

font-family: "Segoe UI Semibold";
    -fx-font-family: "serif" !important;

font-weight: normal;
    -fx-font-weight: normal !important;

}


.column-header.highlighted-cell-shots {
        background-color: rgb(132,96,158);
                -fx-background-color: rgb(132,96,158);

                -fx-text-fill: white;
        
        font-weight: bold;
                -fx-font-weight: bold;
}

.column-header.highlighted-cell-passes {
        background-color: rgb(200,115,5);
                -fx-background-color: rgb(200,115,5);

                -fx-text-fill: white;

        font-weight: bold;
                -fx-font-weight: bold;
}

.column-header.highlighted-cell-crosses {
        background-color: rgb(245,88,245);
                -fx-background-color: rgb(245,88,245);

                -fx-text-fill: white;

        font-weight: bold;
                -fx-font-weight: bold;
}

.column-header.highlighted-cell-aerial {
        background-color: rgb(55,135,20);
                -fx-background-color: rgb(55,135,20);

                -fx-text-fill: white;

        font-weight: bold;
                -fx-font-weight: bold;
}

.column-header.highlighted-cell-movement {
        background-color: rgb(75,147,43);
                -fx-background-color: rgb(75,147,43);

                -fx-text-fill: white;

        font-weight: bold;
                -fx-font-weight: bold;
}

.column-header.highlighted-cell-tackles {
        background-color: rgb(55,135,20);
                -fx-background-color: rgb(55,135,20);

                -fx-text-fill: white;

        font-weight: bold;
                -fx-font-weight: bold;
}

.column-header.highlighted-cell-saves {
        background-color: rgb(75,147,43);
                -fx-background-color: rgb(75,147,43);

                -fx-text-fill: white;

        font-weight: bold;
                -fx-font-weight: bold;
}

